[Unit]
Description=Run FuelSeeker update every 4 hours
Requires=fuelseeker-vpn-update.service

[Timer]
OnCalendar=*-*-* 02,06,10,14,18,22:00:00
RandomizedDelaySec=300    # Add 0-5 min random delay to spread load
Persistent=true

[Install]
WantedBy=timers.target
