# Fuelseeker - Environment Variables
# Copy this file to .env and fill in your actual API credentials
# 
# ***********************************************************
# Caddy users: BEWARE!
# ***********************************************************
# Unlike Apache/nginx, Caddy does NOT hide dotfiles
# by default. This could expose your `.env` file containing API
# credentials. You will need to add this to your Caddyfile:
#
#   file_server {
#       # hide .env file & data folder
#       hide .env data
#   }

# Gov.uk Fuel Finder API Credentials
# Get these from: https://www.fuel-finder.service.gov.uk
FUEL_CLIENT_ID=your_fuel_client_id_here
FUEL_CLIENT_SECRET=your_fuel_client_secret_here

# Ordnance Survey API Credentials
# Get these from: https://osdatahub.os.uk/
OS_API_KEY=your_os_api_key_here
OS_API_SECRET=your_os_api_secret_here

# Security Key to upload SQLite file from local PC to remote geo-locked server
DEPLOY_API_KEY=your_deployment_key_here
